<div class="container mt-4" style="min-height: 700px;">
    <div class="row">
        <div class="col-md-12 mt-2">
            <h4>Share File with Your Friends</h4>
            <form action="" method="post" >
            <div class="card mt-5">
                <div class="card-body">
                    <div class="form-group">
                        <label>File Name</label>
                        <input type="text" value="<%= result.name %>" disabled name="name" class="form-control"/>
                    </div>

                    <div class="form-group">
                        <label>Share With (Email Id)</label>
                        <input type="text" name="name" class="form-control"/>
                    </div>
                    
                </div>
                <div class="card-footer">
                    <input type="submit" value="Share" class="btn btn-primary" />
                </div>
            </div>
            </form>

        </div>
    </div>
  
</div>

