<div class="container mt-5" style="min-height: 700px;">
    <div class="row">
        <h4>Share Files With Me</h4>
        <div class="col-md-12 mt-3">
            <table class="table table-hover table-striped table-bordered">
                <tr>
                    <th>S.No.</th>
                    <th>Who's Share</th>
                    <th>File Name</th>
                    <th>Download</th>
                </tr>
            </table>
        </div>
    </div>
</div>