<html>
    <head>
        <style>
            body{
                background-color: #124578;
            }
        </style>
    </head>
    <body>
        <h1><%= name1 %></h1>

        <h2>Home Page</h2>

        <h3><%= name2 %></h3>
    </body>
</html>
