<html>
    <head>

    </head>
    <body>
        <h2>Form</h2>
        <form action="/save" method="post">
            First Name : <input type="text" name="f_name" />
            <Br />
            <Br />
            <Br />
            Last Name : <input type="text" name="l_name"/>
            <Br/>
            <Br />
            <input type="submit" />


        </form>
    </body>
</html>