<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style>
		.box1{
			height: 200px;
			width: 200px;
			background-color: red;
			/*display: none;*/
			/*display: inline-block;*/
		}
		.box2{
			height: 200px;
			width: 200px;
			background-color: green;
			display: inline-block;
			/*margin-left: 50px;*/
		}
	</style>
</head>
<body>
<!-- 
		display:block

	div
	h
	ol
	ul
	p

			XXXXXXXXXXX    ---------- display:block
	a
	span
	b
	input
	i
	mark




 -->
<a class="box1" href="#"></a>
<a class="box2" href="#"></a>
</body>
</html>