<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/layout2.css">
	<link rel="stylesheet" type="text/css" href="css/font-awesome.css">
</head>
<body>
<div class="top-header">
	<div class="wrapper">
		<div class="left-top-header">
			<ul>
				<li><a href="#"><i class="fa fa-mobile" aria-hidden="true"></i> +565 987 365</a></li>
				<li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i> info@steppingstone.in</a></li>
				<li><a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i> Monday-Friday, 8.00-20.00</a></li>
			</ul>
		</div>
		<div class="right-top-header">
			<ul>
				<li><a href="#">Your Cart (0)</a></li>
				<li><a href="#">Signup</a></li>
			</ul>
		</div>
	</div>
</div>
<div class="menu">
	<div class="wrapper">
		<div class="logo">
			<h1>ADA<span>MAS</span></h1>
		</div>
		<div class="nav">
			<ul>
				<li><a href="#">Help</a></li>
				<li><a href="#">FAQ</a></li>
				<li><a href="#">Contact</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Home</a></li>
			</ul>
		</div>
	</div>
</div>
<div class="header">
	<div class="wrapper">
		<div class="left-header">
			<h1>Shop with a Sidebar on left</h1>
		</div>
		<div class="right-header">
			<div style="float: left; margin-right: 20px;">
				<i class="fa fa-mobile fa-5x" aria-hidden="true"></i>
			</div>
			<div style="float: left;">
				<h1>+565 987 365</h1>
				<small>Monday-Friday, 8.00-20.00</small>
			</div>
		</div>
	</div>
</div>
<div class="content">
	<div class="wrapper">
		<div class="left-content">
			<h3>Categories</h3>
			<ul>
				<li><a href="#">Electronics <span>(18)</span></a></li>
				<li><a href="#">Home Appliance <span>(29)</span></a></li>
				<li><a href="#">Mobiles <span>(16)</span></a></li>
				<li><a href="#">Fashion Mens <span>(87)</span></a></li>
				<li><a href="#">Fashion Womens <span>(64)</span></a></li>
			</ul>
		</div>
		<div class="right-content">
			<div class="product">
				<img src="images/1.jpg" />
				<h4>Shirt</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip...</p>

				<div>
					<h4 style="float: left;">$ 14.00</h4>
					<a href="#">Buy Now</a>
				</div>
			</div>
			
		</div>
	</div>
</div>
<div class="social">
	<div class="wrapper"></div>
</div>
<div class="footer">
	<div class="wrapper"></div>
</div>
<div class="bottom-footer">
	<div class="wrapper"></div>
</div>



</body>
</html>

