<nav class="navbar navbar-expand-md bg-danger navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" routerLink="/admin/dashboard" >Admin</a>
  
    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/product">Product</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/category">Category</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/admin/users">Users</a>
          </li>
      </ul>
    </div>
  </nav>
  
