<div class="container" style="min-height: 700px;">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form method="post">
            <div class="card my-5">
                <div class="card-header">
                    <h4>Registration</h4>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label>Full Name</label>
                        <input type="text" name="full_name" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Email/Username</label>
                        <input type="text" name="username" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" name="password" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Re-Password</label>
                        <input type="password" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Address</label>
                        <textarea class="form-control" name="address" ></textarea>
                    </div>
                    <div class="form-group">
                        <label>City</label>
                        <select class="form-control" name="city">
                            <option>Select</option>
                            <option value="1">Indore</option>
                            <option value="2">Mumbai</option>
                            <option value="3">Pune</option>
                            <option value="4">Delhi</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Gender</label>
                        <Br />
                        Male <input type="radio" name="gender" value="male" />
                        Female <input type="radio" name="gender" value="female"/>

                    </div>
                    <div class="form-group">
                        <label>Contact</label>
                        <input type="text" name='contact' class="form-control" />
                    </div>
                </div>
                <div class="card-footer">
                    <input type="submit" value="Signup" class="btn btn-primary"/>
                </div>
            </div>
            </form>
        </div>

    </div>
</div>

